@{
    ViewData["Title"] = "Supermercado";
    //El diseño se´parece al pdf del examen
}
      <table>
    <tr valign="bottom">
        <td class="nulo" colspan="5" align="right"><a asp-controller="Carrito" asp-action="Index"><u>Ver carrito</u></a></td>
    </tr>
    <tr   style="text-align:center;">
        <th class="eth">ID</th>
        <th class="etha">Nombre</th>
        <th class="eth">Imagen</th>
        <th class="etha">Precio</th>
        <th class="etha">Acción</th>
      </tr>
        
      @foreach (Producto p in ViewBag.prods)
      {
        <tr valign="top">
            <td>@p.id</td>
            <td>@p.nombre</td>
            <td class="espacio"><img src="~/imagenes/@p.imagen" width="100" /></td>
            <td>@p.precio</td>
            <td><a asp-controller="Carrito" asp-action="Comprar" asp-route-idprod="@p.id"><u>Comprar ahora</u></a></td>
        </tr>
      }
     </table>
        

